.footer {
  background-color: #2e86c1;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: #f39c12;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}
